    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a href="/" class="simple-text logo-normal">
          Productivo
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li id="nav-dashboard" class="nav-item">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li id='nav-profile' class="nav-item">
            <a class="nav-link" href="{% url 'edit_profile_settings' %}">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li id='nav-user-tasks' class="nav-item">
            <a class="nav-link" href="/task-list">
              <i class="material-icons">content_paste</i>
              <p>User Tasks</p>
            </a>
          </li>
          <li id='nav-group-tasks' class="nav-item">
            <a class="nav-link" href="/groups">
              <i class="material-icons">content_paste</i>
              <p>Group Tasks</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

          

        {% else %}          

        {% endif %}
        </ul>
      </div>

    </div>

    {% block javascripts %}
  {% endblock javascripts %}
