{% extends "layouts/base.html" %}

{% block title %} Task Add {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary d-flex justify-content-center">
          <h4 class="card-title">
            {{ user_task_list_name }}
          </h4>
        </div>
        <div class="card-body">

            <form role="form" method="post" action="">
                
                {% csrf_token %} 
  
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Name:</label>
                            <input type="text" class="form-control" id="task-name" name="name" value="{{ task.name }}">
                        </div>
                        <span class="text-danger">{{ form.name.errors }}</span>
                    </div>
                </div>
                
  
                <br />
  
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Description:</label>
                        <input type="text" class="form-control" id="task-description" name="description" value="{{ task.description }}">
                    </div>
                  </div>
                </div>
                <span class="text-danger">{{ form.description.errors }}</span>
  
                <br />
  
                <div class="row">
                  <div class="col-md-12">
                    
                    <div class="form-group">
                      <label class="bmd-label-floating">Deadline:</label>
                      <br />
                      <input type="datetime-local" class="form-control" id="task-due-date" name="due_date" value="{{ task.due_date|date:'Y-m-d\TH:i' }}">
                    </div>
                  </div>
                </div>
                <span class="text-danger">{{ form.due_date.errors }}</span>
  
  
                <button type="submit" name="task-add" class="btn btn-primary pull-right">Edit Task</button>
  
  
                <div class="clearfix"></div>
  
              </form>


        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  // get the form elements
var datepicker = document.getElementById('datepicker');
var hours = document.getElementById('hours');
var minutes = document.getElementById('minutes');

// set the default date and time
var defaultDate = new Date();
datepicker.value = defaultDate.toLocaleDateString();
hours.value = defaultDate.getHours().toString().padStart(2, '0');
minutes.value = defaultDate.getMinutes().toString().padStart(2, '0');

</script>
{% endblock javascripts %}
