{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}

{% endblock stylesheets %}




{% block content %}




<div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-danger">
          <h1 class="text-center font-weight-bold">To Do Tasks</h1>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <table class="table">
              <tbody>
                <tr>
                  <td class="col-md-8"><h4>Task name</h4></td>
                  <td class="col-md-2"><h4>Deadline</h4></td>
                  <td class="td-actions justify-content-end col-md-4 pull-right">
                  </td>
                </tr>
                {% for task in tasks %}
                  {% if task.get_instance == "UserTask" %}
                  <tr>
                    {% with current_task_list_id=task.user_task_list.id task_id=task.id %}
                      {% if task.is_past_due %}
                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}" style="color: red">{{ task.name }}</a></td>
                        <td class="overdue col-md-2" style="color: red">{{ task.due_date|date:"H:i M d, Y"}}</td>
                      {% elif task.upcoming %}
                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}" style="color: orange">{{ task.name }}</a></td>
                        <td class="overdue col-md-2" style="color: orange">{{ task.due_date|date:"H:i M d, Y"}}</td>
                      {% elif task.is_completed %}
                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}" style="color: green">{{ task.name }}</a></td>
                        <td class="overdue col-md-2" style="color: green">{{ task.due_date|date:"H:i M d, Y"}}</td>
                      {% else %}
                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}" style="color: black">{{ task.name }}</a></td>
                        <td class="col-md-2">{{ task.due_date|date:"H:i M d, Y"}}</td>
                      {% endif %}
                      <td class="">
                        <form action="{% url 'start_task' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}" method="POST">
                          {% csrf_token %}
                          <button type="submit" name="start-task" rel="tooltip" title="move to tasks in progress" class="btn btn-danger btn-link btn-sm move">
                            Start
                          </button>
                        </form> 
                      </td>

                    
                        <td class="">

                          <div class="td-actions justify-content-end col-md-4 pull-right">
                            <form action="{% url 'task_edit' task_list_id=current_task_list_id task_id=task_id task_status='tasks-to-do' task_type='UserTask' %}" method="GET">
                              {% csrf_token %}
                              <button type="submit" name="task-del" rel="tooltip" title="Edit Task" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                            </form> 
                        

                        
                            <form action="{% url 'task_delete' task_list_id=current_task_list_id task_id=task_id task_status='tasks-to-do' task_type='UserTask' %}" method="DELETE">
                              {% csrf_token %}
                              <button type="submit" rel="tooltip" title="Remove" class="remove btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </form>
                          </div>
                        </td>
                    {% endwith %}
                    
                  </tr>
                  {% else %} 
                  <tr>
                            
                    {% with current_task_list_id=task.group_task_list.id task_id=task.id %}
                      {% if task.is_past_due %}
                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}" style="color: red">{{ task.name }}</a></td>
                        <td class="overdue col-md-2" style="color: red">{{ task.due_date|date:"H:i M d, Y"}}</td>
                      {% elif task.upcoming %}
                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}" style="color: orange">{{ task.name }}</a></td>
                        <td class="overdue col-md-2" style="color: orange">{{ task.due_date|date:"H:i M d, Y"}}</td>
                      {% elif task.is_completed %}
                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}" style="color: green">{{ task.name }}</a></td>
                        <td class="overdue col-md-2" style="color: green">{{ task.due_date|date:"H:i M d, Y"}}</td>
                      {% else %}
                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}" style="color: black">{{ task.name }}</a></td>
                        <td class="col-md-2">{{ task.due_date|date:"H:i M d, Y"}}</td>
                      {% endif %}

                        {% if user == task.group_task_list.for_group.owner %}

                        <td class="">
                          <form action="{% url 'start_task' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="start-task" rel="tooltip" title="move to tasks in progress" class="btn btn-danger btn-link btn-sm move">
                              Start
                            </button>
                          </form> 
                        </td>

                        <td class="">

                          <div class="td-actions justify-content-end col-md-4 pull-right">
                            <form action="{% url 'task_edit' task_list_id=current_task_list_id task_id=task_id task_status='tasks-to-do' task_type='GroupTask' %}" method="GET">
                              {% csrf_token %}
                              <button type="submit" name="task-del" rel="tooltip" title="Edit Task" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                            </form> 
                        

                        
                            <form action="{% url 'task_delete' task_list_id=current_task_list_id task_id=task_id task_status='tasks-to-do' task_type='GroupTask' %}" method="DELETE">
                              {% csrf_token %}
                              <button type="submit" rel="tooltip" title="Remove" class="remove btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </form>
                          </div>
                        </td>
                        {% else %}
                        <td class="">
                        </td>
                        
                        {% endif %}
                        <td class="">
                        </td>
                      
                    {% endwith %}
                    
                    </tr>       
                  {% endif %}

                {% endfor %} 
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    

    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).on('click', '.move', function(){
    return confirm('Are you sure you want move this?');
  })

  $(document).on('click', '.remove', function(){
      return confirm('Are you sure you want to update this?');
  })
</script>

{% endblock javascripts %}
