{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}

{% endblock stylesheets %}





{% block content %}




<div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-success">
          <h1 class="text-center font-weight-bold">To do tasks</h1>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <table class="table">
              <tbody>
                <tr>
                  <td class="col-md-1" style="width: 20px">
                  </td>
                  <td class="col-md-8"><h4>Task name</h4></td>
                  <td class="col-md-2"><h4>Completed at</h4></td>
                  <td class="td-actions justify-content-end col-md-4 pull-right">
                  </td>
                  </tr>
                {% for task in user_tasks %}
                            <tr>
                            <td class="col-md-1" style="width: 20px">
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-sign">
                                    <span class="check"></span>
                                    </span>
                                </label>
                                </div>
                            </td>
                            <td class="col-md-8">{{ task.name }}</td>
                            <td class="col-md-2">{{ task.completed_at }}</td>
                            <td class="td-actions justify-content-end col-md-4 pull-right">
                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-success btn-link btn-sm">
                                    <i class="material-icons">edit</i>
                                </button>
                                
                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                            </tr>
                        
                {% endfor %} 
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    

    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
