{% extends "layouts/base.html" %}

{% block title %} Task Add {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary d-flex justify-content-center">
          <h4 class="card-title">
            {{ task_list_name }}
          </h4>
        </div>
        <div class="card-body">

            <form role="form" method="post" action="">
                
                {% csrf_token %} 
  
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Name:</label>
                            <input type="text" class="form-control" id="task-name" name="name" value="{{ task.name }}">
                        </div>
                        <span class="text-danger">{{ form.name.errors }}</span>
                    </div>
                </div>
                
  
                <br />
  
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Description:</label>
                        <input type="text" class="form-control" id="task-description" name="description" value="{{ task.description }}">
                    </div>
                  </div>
                </div>
                <span class="text-danger">{{ form.description.errors }}</span>
  
                <br />
  
                <div class="row">
                  <div class="col-md-12">
                    
                    <div class="form-group">
                      <label class="bmd-label-floating">Deadline:</label>
                      <br />
                      <input type="datetime-local" class="form-control" id="task-due-date" name="due_date" value="{{ task.due_date|date:'Y-m-d\TH:i' }}">
                    </div>
                  </div>
                </div>
                <span class="text-danger">{{ form.due_date.errors }}</span>

                <br />
  
                <div class="row">
                  <div class="col-md-12">
                    
                    <div class="form-group">
                      <label class="bmd-label-floating">Category:</label>
                      {{ form.category }}
                  </div>
                  </div>
                </div>
                <span class="text-danger">{{ form.category.errors }}</span>
  
  
                <button type="submit" name="task-add" class="btn btn-primary pull-right">Add Task</button>
  

                
  
  
                <div class="clearfix"></div>
  
              </form>


        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
