{% extends "layouts/base.html" %}

{% block title %} Task Add {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary d-flex justify-content-center">
          <h4 class="card-title">
            {{ task.name }}
          </h4>
        </div>
        <div class="card-body">
                
            {% csrf_token %} 
            <div class="row">
                <div class="col-md-12">
                    Description:
                    </br>
                    {{ task.description }}
                </div>
             </div>

            </br>
            </br>
  
            <div class="row">
                <div class="col-md-12">
                    Deadline:
                    </br>
                    {{ task.due_date|date:'Y-m-d H:i' }}
                </div>
            </div>    

          {% if task_type == "GroupTask" %}
            </br>
            </br>

            <div class="row">
            <div class="col-md-12">
                List:
                </br>
                {{ task_list_name }}
            </div>
            </div>
          </br>
          </br>
            <div class="row">
            <div class="col-md-12">
                Group:
                </br>
                {{ group_name }}
            </div>
            </div>
          </br>
          </br>

            {% with task_list_id=task.group_task_list.id task_id=task.id %}
            <form action="{% url 'task_edit' task_list_id=task_list_id task_id=task.id task_status='groups' task_type='GroupTask' %}" method="GET">
              {% csrf_token %}
              <button type="submit" name="task-edit" class="btn btn-primary pull-left">Edit Task</button>
            </form> 

        
            <form action="{% url 'task_delete' task_list_id=task_list_id task_id=task.id task_status='groups' task_type='GroupTask' %}" method="DELETE">
              {% csrf_token %}
              <button type="submit" name="task-del" class="btn btn-primary pull-right .remove">Delete Task</button>
            </form>
          {% endwith %}

          {% else %}
          </br>
          </br>

          <div class="row">
          <div class="col-md-12">
              List:
              </br>
              {{ task_list_name }}
          </div>
          </div>
          </br>
          </br>
          {% with task_list_id=task.user_task_list.id task_id=task.id %}
            <form action="{% url 'task_edit' task_list_id=task_list_id task_id=task.id task_status='groups' task_type='UserTask' %}" method="GET">
              {% csrf_token %}
              <button type="submit" name="task-edit" class="btn btn-primary pull-left">Edit Task</button>
            </form> 

        
            <form action="{% url 'task_delete' task_list_id=task_list_id task_id=task.id task_status='groups' task_type='UserTask' %}" method="DELETE">
              {% csrf_token %}
              <button type="submit" name="task-del" class="btn btn-primary pull-right .remove">Delete Task</button>
            </form>
          {% endwith %}
          {% endif %}

            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).on('click', '.remove', function(){
      return confirm('Are you sure you want to update this?');
  })
</script>
{% endblock javascripts %}
