{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}

{% endblock stylesheets %}





{% block content %}




<div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-success">
          <h1 class="text-center font-weight-bold">Done Tasks</h1>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <table class="table">
              <tbody>
                <tr>
                  <td class="col-md-1" style="width: 20px">
                  </td>
                  <td class="col-md-8"><h4>Task name</h4></td>
                  <td class="col-md-2"><h4>Completed at</h4></td>
                  <td class="td-actions justify-content-end col-md-4 pull-right">
                  </td>
                  </tr>
                {% for task in user_tasks %}
                            <tr>
                            <td class="col-md-8"><a href="{% url 'task_show' user_task_list_id=current_task_list_id user_task_id=task_id task_status='tasks-to-do' %}" style="color: green">{{ task.name }}</a></td>
                            <td class="col-md-2">{{ task.due_date|date:"M d, Y"}}</td>
                            <td class="td-actions justify-content-end col-md-4 pull-right">
                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-success btn-link btn-sm">
                                    <i class="material-icons">edit</i>
                                </button>
                                
                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm remove">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                            </tr>
                        
                {% endfor %} 
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    

    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).on('click', '.remove', function(){
      return confirm('Are you sure you want to update this?');
  })
</script>
{% endblock javascripts %}
