{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<div class="container">
     <div class="row mt-3">
      <div class="col-md-12">
          <div class="d-flex pull-right">
              <button id="next-week-btn" class="btn btn-primary">Next week</button>
          </div>
          <div class="d-flex">
            <button id="previous-week-btn" class="btn btn-primary">Previous week</button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <table class="table">
                            <thead class="text-warning">
                            <th>Deadline</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>List</th>
                            </thead>
                            <tbody>
                            <tr><th colspan="6" style="text-align: center">Poniedziałek</th></tr>
                            {% for task in user_tasks_current_week %}
                            {% if task.due_date.weekday == 0 %}
                                <tr>  
                                
                                <td class="col-md-2">{{ task.due_date|date:"H:i"}}</td>
                                {% if task.get_instance == "UserTask" %}
                                    {% with current_task_list_id=task.user_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}"
                                            style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.user_task_list.name }}</td>
                                    {% endwith %}
                                {% else %}
                                    {% with current_task_list_id=task.group_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}"
                                                style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.group_task_list.name }}</td>
                                    {% endwith %}
                                {% endif %}
                                <td class="">
                                    <div class="td-actions justify-content-end col-md-4 pull-right">
                                </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr><th colspan="6" style="text-align: center">Wtorek</th></tr>
                            {% for task in user_tasks_current_week %}
                            {% if task.due_date.weekday == 1 %}
                                <tr>  
                                
                                <td class="col-md-2">{{ task.due_date|date:"H:i"}}</td>
                                {% if task.get_instance == "UserTask" %}
                                    {% with current_task_list_id=task.user_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}"
                                            style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.user_task_list.name }}</td>
                                    {% endwith %}
                                {% else %}
                                    {% with current_task_list_id=task.group_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}"
                                                style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.group_task_list.name }}</td>
                                    {% endwith %}
                                {% endif %}
                                <td class="">
                                    <div class="td-actions justify-content-end col-md-4 pull-right">
                                </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr><th colspan="6" style="text-align: center">Środa</th></tr>
                            {% for task in user_tasks_current_week %}
                            {% if task.due_date.weekday == 2 %}
                                <tr>  
                                
                                <td class="col-md-2">{{ task.due_date|date:"H:i"}}</td>
                                {% if task.get_instance == "UserTask" %}
                                    {% with current_task_list_id=task.user_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}"
                                            style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.user_task_list.name }}</td>
                                    {% endwith %}
                                {% else %}
                                    {% with current_task_list_id=task.group_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}"
                                                style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.group_task_list.name }}</td>
                                    {% endwith %}
                                {% endif %}
                                <td class="">
                                    <div class="td-actions justify-content-end col-md-4 pull-right">
                                </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr><th colspan="6" style="text-align: center">Czwartek</th></tr>
                            {% for task in user_tasks_current_week %}
                            {% if task.due_date.weekday == 3 %}
                                <tr>  
                                
                                <td class="col-md-2">{{ task.due_date|date:"H:i"}}</td>
                                {% if task.get_instance == "UserTask" %}
                                    {% with current_task_list_id=task.user_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}"
                                            style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.user_task_list.name }}</td>
                                    {% endwith %}
                                {% else %}
                                    {% with current_task_list_id=task.group_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}"
                                                style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.group_task_list.name }}</td>
                                    {% endwith %}
                                {% endif %}
                                <td class="">
                                    <div class="td-actions justify-content-end col-md-4 pull-right">
                                </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr><th colspan="6" style="text-align: center">Piątek</th></tr>
                            {% for task in user_tasks_current_week %}
                            {% if task.due_date.weekday == 4 %}
                                <tr>  
                                
                                <td class="col-md-2">{{ task.due_date|date:"H:i"}}</td>
                                {% if task.get_instance == "UserTask" %}
                                    {% with current_task_list_id=task.user_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}"
                                            style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.user_task_list.name }}</td>
                                    {% endwith %}
                                {% else %}
                                    {% with current_task_list_id=task.group_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}"
                                                style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.group_task_list.name }}</td>
                                    {% endwith %}
                                {% endif %}
                                <td class="">
                                    <div class="td-actions justify-content-end col-md-4 pull-right">
                                </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr><th colspan="6" style="text-align: center">Sobota</th></tr>
                            {% for task in user_tasks_current_week %}
                            {% if task.due_date.weekday == 5 %}
                                <tr>  
                                
                                <td class="col-md-2">{{ task.due_date|date:"H:i"}}</td>
                                {% if task.get_instance == "UserTask" %}
                                    {% with current_task_list_id=task.user_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}"
                                            style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.user_task_list.name }}</td>
                                    {% endwith %}
                                {% else %}
                                    {% with current_task_list_id=task.group_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}"
                                                style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.group_task_list.name }}</td>
                                    {% endwith %}
                                {% endif %}
                                <td class="">
                                    <div class="td-actions justify-content-end col-md-4 pull-right">
                                </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr><th colspan="6" style="text-align: center">Niedziela</th></tr>
                            {% for task in user_tasks_current_week %}
                            {% if task.due_date.weekday == 6 %}
                                <tr>
                                    <td class="col-md-2">{{ task.due_date|date:"h:i"}}</td>
                                    <td class="col-md-8">{{ task.name }}</td>
                                    <td class="col-md-8">{{ task.description }}</td>
                                    <td class="col-md-8">{{ task.usertask.user_task_list.name }}</td>
                                    <td class="td-actions justify-content-end col-md-4 pull-right">
                                </tr>
                            {% endif %}
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% if task.due_date.weekday == 0 %}
                                <tr>  
                                
                                <td class="col-md-2">{{ task.due_date|date:"H:i"}}</td>
                                {% if task.get_instance == "UserTask" %}
                                    {% with current_task_list_id=task.user_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}"
                                            style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.user_task_list.name }}</td>
                                    {% endwith %}
                                {% else %}
                                    {% with current_task_list_id=task.group_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}"
                                                style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.group_task_list.name }}</td>
                                    {% endwith %}
                                {% endif %}
                                <td class="">
                                    <div class="td-actions justify-content-end col-md-4 pull-right">
                                </div>
                                </td>
                            </tr>
                            {% endif %}
                            <tr style="color: red; font-weight: bold; font-size: 1.5em; text-align: center;">
                                <th colspan="6">After deadline</th>
                            </tr>
                            {% for task in user_tasks_past_week %}
                            <!--{% if task.due_date and task.due_date.date != current_date %}-->
                            <tr style="color: red;">
                                <td class="col-md-2">{{ task.due_date|date:"d.m.Y"}}</td>
                                <td class="col-md-8">{{ task.name }}</td>
                                <td class="col-md-8">{{ task.description }}</td>
                                <td class="col-md-8">{{ task.usertask.user_task_list.name }}</td>
                                <td class="td-actions justify-content-end col-md-4 pull-right">

                                </td>
                            </tr>
                            <!--{% endif %}-->
                            {% empty %}
                            <tr>
                                <th>No tasks found.</th>
                            </tr>
                            {% endfor %}
                            {% if task.due_date.weekday == 0 %}
                                <tr>  
                                
                                <td class="col-md-2">{{ task.due_date|date:"H:i"}}</td>
                                {% if task.get_instance == "UserTask" %}
                                    {% with current_task_list_id=task.user_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='UserTask' %}"
                                            style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.user_task_list.name }}</td>
                                    {% endwith %}
                                {% else %}
                                    {% with current_task_list_id=task.group_task_list.id task_id=task.id %}
                                        <td class="col-md-8"><a href="{% url 'task_show' task_list_id=current_task_list_id task_id=task_id task_type='GroupTask' %}"
                                                style="color: black">{{ task.name }}</a></td>
                                        <td class="col-md-8">{{ task.description }}</td>
                                        <td class="col-md-8">{{ task.group_task_list.name }}</td>
                                    {% endwith %}
                                {% endif %}
                                <td class="">
                                    <div class="td-actions justify-content-end col-md-4 pull-right">
                                </div>
                                </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead class="text-warning">
                    <th>Title</th>
                    <th>Description</th>
                    <th>List</th>
                    </thead>
                    <tbody>
                    {% for task in user_tasks %}
                            <!--{% if not task.due_date %}-->
                            <tr>
                                <td class="col-md-8">{{ task.name }}</td>
                                <td class="col-md-8">{{ task.description }}</td>
                                <td class="col-md-8">{{ task.usertask.user_task_list.name }}</td>
                                <td class="td-actions justify-content-end col-md-4 pull-right">


                                </td>
                            </tr>
                            <!--{% endif %}-->
                            {% empty %}]
                            <tr>
                                <th>No tasks found.</th>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
        document.getElementById('next-week-btn').addEventListener('click', function() {
            var url = window.location.href;
            var match = url.match(/date=(\d{4})-(\d{2})-(\d{2})/);
            var date;
            if (match) {
                var year = parseInt(match[1]);
                var month = parseInt(match[2]);
                var day = parseInt(match[3]);
                date = new Date(year, month - 1, day);
            } else {
                date = new Date();
            }
            date.setDate(date.getDate() + 7);
            var newUrl = url;
            if (match) {
                newUrl = newUrl.replace(/date=\d{4}-\d{2}-\d{2}/, 'date=' + formatDate(date));
            } else {
                newUrl += '?date=' + formatDate(date);
            }
            window.location.href = newUrl;
        });

        document.getElementById('previous-week-btn').addEventListener('click', function() {
            var url = window.location.href;
            var match = url.match(/date=(\d{4})-(\d{2})-(\d{2})/);
            var date;
            if (match) {
                var year = parseInt(match[1]);
                var month = parseInt(match[2]);
                var day = parseInt(match[3]);
                date = new Date(year, month - 1, day);
            } else {
                date = new Date();
            }
            date.setDate(date.getDate() - 7);
            var newUrl = url;
            if (match) {
                newUrl = newUrl.replace(/date=\d{4}-\d{2}-\d{2}/, 'date=' + formatDate(date));
            } else {
                newUrl += '?date=' + formatDate(date);
            }
            window.location.href = newUrl;
        });

        function formatDate(date) {
            var year = date.getFullYear();
            var month = ('0' + (date.getMonth() + 1)).slice(-2);
            var day = ('0' + date.getDate()).slice(-2);
            return year + '-' + month + '-' + day;
        }
    </script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}d