{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->



{% block content %}

  
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">To do tasks.</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> <p style="color:red">TUTAJ BEDZIE SKRYP KTORY POZYSKUJE CZAS EDYCJI TASKA</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Tasks in progress.</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> <p style="color:red">TUTAJ BEDZIE SKRYP KTORY POZYSKUJE CZAS EDYCJI TASKA</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Done tasks.</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> <p style="color:red">TUTAJ BEDZIE SKRYP KTORY POZYSKUJE CZAS EDYCJI TASKA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-header card-header-primary">
          </div>
          <div class="card-body">
            <h4 class="card-title">Daily calendar.</h4>
          </div>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="card">
          <div class="card-header card-header-primary">
          </div>
          <div class="card-body">
            <h4 class="card-title">Weekly calendar.</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header card-header-primary">
          </div>
          <div class="card-body">
            <h4 class="card-title">Monthly calendar.</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header card-header-primary">
          </div>
          <div class="card-body">
            <h4 class="card-title">Yearly calendar.</h4>
          </div>
        </div>
      </div>
    </div>

    <h1>Tasks for {{ user.username }}</h1>
    <ul>
      {% for task in tasks %}
        <li>{{ task.name }}</li>
      {% empty %}
        <li>No tasks found.</li>
      {% endfor %}
    </ul>

    
{% endblock content %}

{% block stylesheets %}
</style>
{% endblock stylesheets %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>

    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });

  </script>

{% endblock javascripts %}
