{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->




{% block content %}

    <div class="row">
      <div class="col-md-4">
        <a href="/tasks-to-do">
          <div class="card card-chart">
            <div class="card-header card-header-danger">
              <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">To do tasks.</h4>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> <p>Last modified: {{ last_modified_to_do|timesince }} ago</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/tasks-in-progress">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <div class="ct-chart" id="completedTasksChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Tasks in progress.</h4>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> <p>Last modified: {{ last_modified_in_progress|timesince }} ago</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="tasks-completed">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Done tasks.</h4>
              <p class="card-category">
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> <p>Last modified: {{ last_modified_completed|timesince }} ago</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <a href="daily-view">
          <div class="card">
            <div class="card-header card-header-primary">
            </div>
            <div class="card-body mx-auto">
              <h4 class="card-title">Daily Calendar</h4>
            </div>
          </div>
        </a>
      </div>  
      <div class="col-md-4">
        <a href="weekly-view">
          <div class="card">
            <div class="card-header card-header-primary">
            </div>
            <div class="card-body mx-auto">
              <h4 class="card-title">Weekly Calendar</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="monthly-view">
          <div class="card">
            <div class="card-header card-header-primary">
            </div>
            <div class="card-body mx-auto">
              <h4 class="card-title">Monthly calendar</h4>
            </div>
          </div>
        </a>
      </div>
    </div>

    
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ block.super }}
  
{% endblock javascripts %}
